.home {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
  color: #686868;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

.about h2 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 80px;
  color: #ddff1aaa;
  height: 50px;
}

.about .prompt {
  font-family: "Rubik Doodle Shadow", system-ui;
  width: 40%;
  font-size: 40px;
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: rgb(0, 0, 0);
}

.GitHubIcon,
.LinkedInIcon,
.EmailIcon {
  transition: color 0.3s ease; /* Adding transition for smooth color change */
}

/* Applying hover effect */
.GitHubIcon:hover,
.LinkedInIcon:hover,
.EmailIcon:hover {
  filter: invert(100%); /* Inverting colors on hover */
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #686868;
  text-align: center;
  font-family: "Rubik Doodle Shadow", system-ui;
}

.skills h1 {
  color: #000000;
  text-decoration: underline;
  font-family: "Rubik Pixels", system-ui;
}

.skills .list {
  list-style: none;
  width: 60%;
  color: black;
}

.list {
  padding: 0;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
